
md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin-left: 1em;
}

.ratingsWrapper i{
    outline: none;
}

.loginCard{
 position: relative;;
 top: 50%;
 transform: translateX(2%) translateY(10%);
}
